@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Primera Entrega</h1>
    <p class="lead">CRUD de Students, Instructors</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Cursos</h2>
        <p>
            Crea, edita y borra cursos.
        </p>
        <p><a class="btn btn-default" href="~/Courses/Index">Ingrese &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Estudiantes</h2>
        <p>Crea, edita y borra estudiantes.</p>
        <p><a class="btn btn-default" href="~/Students/Index">Ingrese &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Profesores</h2>
        <p>Crea, edita y borra instructores.</p>
        <p><a class="btn btn-default" href="~/Instructors/Index">Ingrese &raquo;</a></p>
    </div>
</div>